<strong>Olá, {{ deliveryman }}</strong>
<p>Um produto foi cadastrado, veja os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}}
  <br />
  <p>
    O horário de retirada do produto deve ser realizado das <b>08:00</b> até às <b>18:00</b>
  </p>
</p>
